@media screen and (max-width: 768px) {
    :root {
        --product-row-count: 2;
    }

    .res__toggle__btn {
        display: block;
    }

    .navbar ul {
        display: none;
    }



    .photo {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    :root {
        --product-row-count: 1;
    }
    nav{
        justify-content: space-around;
        max-width: 90%;
        /* padding: 5px 50px ; */
    }
    .nav__links a i{
        font-size: 15px;
    }

    .res__toggle__btn i {
        font-size: 20px;
    }

   .intro h1{
    font-size: 30px;
   }



}